h1 {
    text-align: center;
}

body{
    background-color: palegoldenrod;
    
}


img {
    width: 300px;
}


h2{
    text-decoration: underline;
}

table, th, td {
    border: 2px rgb(36, 2, 228);
    border-style:solid;
    border-collapse: collapse;

    text-align: center;
}

#quotes{

    font-style: italic;
    font-weight: 100;
}





